.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

input {
  width: 75px;
  text-align: center;
}

.headerText {
  width: 40%;
  margin: auto;
}

.card, .submitButton {
  width: 400px;
  margin: auto;
}

.nextButton {
  margin-left: 150px;
}

.table {
  width: 80%;
  margin: auto;
}

footer {
  width: 700px;
  margin: auto;
  opacity: 0.8;
}